<br>
<ion-content [fullscreen]="true">
  <ion-img class="imglogo" src="assets/image/logo01.jpg"></ion-img>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center fuentes-cards">Mapa</ion-card-title>
      <br>
      <ion-img class="mapita" src="assets/image/mapa.jpg"></ion-img>
      <ion-item>
        <ion-label class="labels fuentes-cards">Estamos trabajando en los Mapas</ion-label>
      </ion-item>
      <ion-button  size="large" expand="block" class="labels fuentes-cards"  [routerLink]="['/home']"><ion-icon name="return-up-back-outline"></ion-icon></ion-button>
    </ion-card-header>
  </ion-card>
</ion-content>
