<ion-content [fullscreen]="true">
  <br>
  <ion-img class="imglogo" src="assets/image/logo01.jpg"></ion-img>
  <br>
  <ion-card>
      <br>
      <ion-title class="ion-text-center labels fuentes-cards">Market</ion-title>
      <br> 
        <ion-list>
          <ion-item>
            <ion-label class="fuentes-cards">
              <h2>Nombre: {{ nombre1 }}</h2>
              <h2>Tipo de Cocina: {{ tipo_cocina1 }}</h2>
              <h2>Enlace: {{ shareAS1 }}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
        <br>
    <div class="boton">
      <ion-button size="large" fill="outline" expand="block" [routerLink]="['/login']">Salir</ion-button>
      <ion-button size="large" expand="block" class="labels fuentes-card" [routerLink]="['/home']">Atrás</ion-button>
    </div>
  </ion-card>
</ion-content>
