<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>To-Do</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Tareas</ion-card-title>
    </ion-card-header>
      <ion-card-content>
      <ion-list>
<ion-item-sliding *ngFor="let x of arregloTareas">
  <ion-item>
    <ion-label>
      {{ x.titulo }} - {{ x.detalle }}
    </ion-label>
  </ion-item>
  <ion-item-options>
    <ion-item-option (click)="modificar(x)">
      <ion-icon slot="bottom" name="pencil-sharp">Modificar</ion-icon>
    </ion-item-option>
    <ion-item-option (click)="eliminar(x)">
        <ion-icon slot="bottom" name="trash">Eliminar</ion-icon>
    </ion-item-option>
</ion-item-options>
</ion-item-sliding>
      </ion-list>
      </ion-card-content>
  </ion-card>

  <ion-button fill="outline" expand="block" [routerLink]="['/agregar-tarea']">Agregar nueva Tarea</ion-button>
  <ion-button fill="outline" expand="block" [routerLink]="['/home']">Atrás</ion-button>
</ion-content>
