<br>
<br>
<ion-content [fullscreen]="true">
  <ion-img class="imglogo" src="assets/image/logo01.jpg"></ion-img>
  <br>
  <br>
  <ion-button size="large" fill="outline" expand="block" [routerLink]="['/pendientes']">Tareas Pendientes</ion-button>
  <br>
  <ion-button size="large" fill="outline" expand="block" (click)="listado()">Lista del Supermercado</ion-button>
  <br>
  <ion-button size="large" fill="outline" expand="block" [routerLink]="['/mapa']">Buscar Supermercados</ion-button>
  <br>
  <ion-button size="large" fill="outline" expand="block" [routerLink]="['/clima']">Ver el clima</ion-button>
</ion-content>